.display-block-none {
    display: none;
}

.display-block-show {
    display: block;
}

@mixin display-flex-row {
    display: flex;
    flex-direction: row;
}

@mixin display-flex-col {
    display: flex;
    flex-direction: column;
}