// site-title
$site-link-l: 34px;
$site-link-s: 32px;

$font-size-external-links: 45px;
$font-size-site-subscribe: 32px;
$font-size-timeline-before: 1rem;

// ratio
$golden-ratio: 1.618;
$height-font-ratio: 1.48;
$paragraph-height-ratio: 0.754;

@mixin typography-font-size($p-font-size: 16px) {
    $s-font-size: $golden-ratio * $p-font-size;

    .p-post, .footer-item {
        @include font-size-post($p-font-size)
    }

    .s-grid-common {
        @include font-size-post($s-font-size)
    }

    @include font-size-headers($p-font-size)
}



@mixin font-size-header($font-size: 16px) {
    $sub-font-size: $font-size / $golden-ratio;
    $margin-bottom: $paragraph-height-ratio * $height-font-ratio * $font-size;
    
    span {
        font-weight: normal;
    }
    
    .header-sub {
        font-size: $sub-font-size;
    }

    font-size: $font-size;
    margin-bottom: $margin-bottom;
}

@mixin font-size-headers($font-size: 16px) {
    $h4-font-size: $font-size * $golden-ratio;
    $h3-font-size: $h4-font-size * $golden-ratio;
    $h2-font-size: $h3-font-size * $golden-ratio;
    $h1-font-size: $h2-font-size * $golden-ratio;

    .header-1 {
        @include font-size-header($h1-font-size)
    }

    .header-2 {
        @include font-size-header($h2-font-size)
    }

    .header-3 {
        @include font-size-header($h3-font-size)
    }

    .header-4 {
        @include font-size-header($h4-font-size)
    }
}

@mixin font-size-post($font-size: 16px) {
    $font-size: $font-size * $golden-ratio;
    $line-height: $height-font-ratio * $font-size;
    $margin-bottom: $paragraph-height-ratio * $line-height;

    font-size: $font-size;
    margin-bottom: $margin-bottom;
    line-height: $line-height;
}