$space-flex-item: 6%;

$space-nav-padding: 2%;

$space-header-padding: 4%;
$space-header-margin: 7%;

$space-main-padding: 4%;
$space-main-margin: 14%;

$space-footer-padding: 7%;
$space-footer-padding-bottom: 18%;

$space-post-padding: 13%;

$space-gird-gap: 2%;

$space-section-block: 8%;
$space-section-cover: 4%;

$space-timeline-before: 7% ;
$space-timeline-padding: 4%;