// ratio
$golden-ratio: 1.618;
$height-font-ratio: 1.48;
$paragraph-height-ratio: 0.754;

// header font-size
@mixin typography-header($font-size: 16px) {
    $h4-font-size: $p-font-size * $golden-ratio;
    $h3-font-size: $h4-font-size * $golden-ratio;
    $h2-font-size: $h3-font-size * $golden-ratio;
    $h1-font-size: $h2-font-size * $golden-ratio;

    h1 {
        font-size: $h1-font-size;
        @include typography-font($h1-font-size)
    }

    h2 {
        font-size: $h2-font-size;
        @include typography-font($h2-font-size)
    }

    h3 {
        font-size: $h3-font-size;
        @include typography-font($h3-font-size)
    }

    h4 {
        font-size: $h4-font-size;
        @include typography-font($h4-font-size)
    }
}

@mixin typography-font($font-size: 16px) {
    $line-height: $height-font-ratio * $font-size;
    $margin-bottom: $paragraph-height-ratio * $line-height;

    line-height: $line-height;
    margin-bottom: $margin-bottom;
}
