body {
    font-family: $zcool;
}

nav, footer {
    font-family: $oblique;
}

@media only screen and (min-width: $screen-large) {
    $p-font-size: 14px;
    @include typography-font-size($p-font-size);
}

@media only screen and (max-width: $screen-large) {
    $p-font-size: 12px;
    @include typography-font-size($p-font-size);
}