body {
    font-family: $lxgw;
}

nav, footer {
    font-family: $oblique;
}

.cao {
    font-family: $cao;
}

@media only screen and (max-width: $screen-small) {
    $p-font-size: 7px;
    @include typography-font-size($p-font-size);
}

@media only screen and (min-width: $screen-small) {
    $p-font-size: 9px;
    @include typography-font-size($p-font-size);
}

@media only screen and (min-width: $screen-medium) {
    $p-font-size: 11px;
    @include typography-font-size($p-font-size);
}

@media only screen and (min-width: $screen-large) {
    $p-font-size: 13px;
    @include typography-font-size($p-font-size);
}

@media only screen and (min-width: $screen-large-extra) {
    $p-font-size: 15px;
    @include typography-font-size($p-font-size);
}
