// @import "layers/margin.scss";

$margin-icon-nav: 10%;
$margin-icon-section-right: 3%;

$margin-post: $space-post;
$margin-post-bottom: 12%;

$margin-header: 7%;
$margin-main: 14%;

$margin-section-item: 3%;

$margin-timeline-before: -3rem;

// @import "layers/padding.scss";

$padding-post: $space-post;

$padding-footer: $space-post;
$padding-footer-bottom: 18%;

$padding-nav: 2%;

$padding-main: $sapce-section;
$padding-header: $sapce-section;

$padding-section-item-row: 4%;
$padding-section-item-col: 5%;

$padding-timeline: 2.6rem;

$padding-ul-left: 2rem;
