$margin-icon-nav: 10%;
$margin-icon-section-right: 3%;

$margin-post: $space-post;
$margin-post-bottom: 12%;

$margin-header: 7%;
$margin-main: 14%;

$margin-section-item: 3%;

$margin-timeline-before: -3rem;
