$padding-post: $space-post;

$padding-footer: $space-post;
$padding-footer-bottom: 18%;

$padding-nav: 2%;

$padding-main: $sapce-section;
$padding-header: $sapce-section;

$padding-section-item-row: 4%;
$padding-section-item-col: 5%;

$padding-timeline: 2.6rem;

$padding-ul-left: 2rem;