<!-- sidebar start -->
<div id="side-bar">
    <div id="read-mode-selector" class="mode-selector">
        <button id="read-mode-auto" class="mode-btn">Auto</button>
        <button id="read-mode-on" class="mode-btn">On</button>
        <button id="read-mode-off" class="mode-btn">Off</button>
    </div>
    <div id="dark-mode-selector" class="mode-selector">
        <button id="dark-mode-auto" class="mode-btn">Auto</button>
        <button id="dark-mode-on" class="mode-btn">On</button>
        <button id="dark-mode-off" class="mode-btn">Off</button>
    </div>
</div>
