<div id="footer-subscribe" class="footer-item">
    {{- with .Site.Params.subscribe }}
    <p>Want to follow&nbsp;{{- site.Author.name }}'s digital garden?</p>
    <a type="application/rss+xml" href="/index.xml">
    <button id="subscribe-btn"><i class="fa fa-rss"></i>Subscribe via RSS Feed</button>
    </a>
    {{- end }}
</div>

<div id="footer-links" class="footer-item">
    {{- range .Site.Params.link  }}
    <a class="sitemap-link" href="{{ .url }}">
        <i class="fa fa-{{ .name }}" aria-hidden="true"></i>
    </a>
    {{- end }}
</div>

<div id="footer-sitemap" class="footer-item">
    {{- range .Site.Menus.main  }}
    <a class="sitemap" href="{{ .URL }}">{{- .Name }}</a>
    {{- range .Children }}
    <a class="sitemap" href="{{ .URL }}">{{- .Name }}</a>
    {{- end }}
    {{- end }}
</div>