<a id="site-title" href="/" aria-haspopup="true" aria-expanded="false" tabindex="0">{{ .Site.Title }}</a>

<div id="menu-bar">
	{{- range .Site.Menus.main }}
	{{- if .Name }}
	{{- $post_icon := .Post}}
	<a class="menu-link sitemap" href="{{ .URL }}">
		{{ .Name }}
		{{- if not .HasChildren }}
		<i class="fa fa-{{ $post_icon }} fa-topbar" aria-hidden="true"></i>
		{{- end }}
	</a>
	{{- if .HasChildren }}
	<span class="fa fa-{{ $post_icon }} fa-topbar">
		<div class="submenu">
			{{ range .Children }}
			<a class="menu-link sitemap" href="{{ .URL }}">{{ .Name }}</a>
			{{ end }}
		</div>
	</span>
	{{- end }}
	{{- end }}
	{{- end }}
</div>
