{{- $kind := .Kind -}}
{{- if eq $kind "home"}}
<h1 class="header-common header-1 e-homepage-header">
    {{- .Site.Author.name -}}
    <span>&nbsp;{{- .Site.Author.intro -}}</span><br>
    <span class="header-sub">{{- .Site.Author.role -}}</span>
</h1>
{{- else if eq $kind "section"}}
<h1 class="header-common header-1 e-section-header">
    {{- .Title -}}<br>
    <span class="header-sub">{{ .Params.preface }}</span>
</h1>
{{- else if eq $kind "page"}}
<h2 class="header-common header-2 e-page-header">
    {{- .Title -}}<br>
    <span class="header-sub">{{ .Params.preface }}</span>
</h2>
{{- end }}
