<!-- site title -->
<a id="site-link" href="/" aria-haspopup="true" aria-expanded="false" tabindex="0">{{- .Site.Title -}}</a>

<!-- sitemaps -->
{{- with .Site.Menus }}
<div id="e-nav-sitemap">
	{{- range .main }}
	{{- $sitemap_name := .Name }}
	<span class="sitemap-item">
		{{- if not .HasChildren }}
		<a class="link-common" href="{{- .URL -}}">
			{{- with .Post }}<span class="fa fa-{{ . }} sitemap-icon"></span>{{ end -}}
			{{- $sitemap_name -}}
		</a>
		{{ else }}</a>
		<a class="link-common" href="{{- .URL -}}">
			{{- $sitemap_name -}}
			{{- with .Post }}<span class="fa fa-{{ . }} sitemap-icon" onclick="{{ printf "drop('%s')" ($sitemap_name | lower) | safeJS }}"></span>{{ end -}}
		</a>
		<div class="nav-droplist" id="drop-{{ $sitemap_name | lower }}">
			{{- range .Children }} <a class="link-common" href="{{ .URL }}">{{ .Name }}</a>{{ end -}}
		</div>
		{{- end }}
	</span>
	{{- end }}
</div>
{{- end }}