{{ define "main" }}
<div class="summary">

  <div id="site-author">
    <span><strong>{{ .Site.Author.name }}</strong></span> 
    <span>{{ .Site.Author.intro }}</span>
    <div class="descrip">
      <p>{{ .Site.Author.role }}</p>
    </div>
  </div>

	<div id="site-sitemaps">
    {{ range .Pages }}
    {{ if or (eq .Params.disaplay "section-card") (eq .Params.disaplay "section-entry") }}
    {{ if .Params.def }}
    <div class="site-sitemap">
      <div class="subheader">{{ .Title }}</div>
      <p>{{ .Params.def }}</p>
      {{ $disaplay := .Params.disaplay }}
      <div class="summary-flex">
          {{ range first 6 .Pages.ByLastmod }}
          {{ if eq $disaplay "section-card" }}
          {{ .Render "section-card" }}
          {{ else }}
          {{ .Render "section-entry" }}
          {{ end }}
          {{ end }}
      </div>
    </div>
    {{ end }}
    {{ end }}
    {{end}}
	</div>

</div>
{{ end }}
