{{/*

*/}}

{{- define "main" }}
<div class="p-home">
  {{/*  check all sections and do not show timeline style  */}}
  {{- range .Pages }}
  {{- $disaplay := .Params.disaplay -}}
  {{- if ne $disaplay "timeline" }}
  <div class="e-homepage-section">

    {{/*  section preface  */}}
    <div class="common-preface e-homepage-preface">
      <h2 class="header-common header-2">{{ .Title }}<br>
      <span class="header-sub">{{ .Params.preface }}</span>
      </h2>
    </div>

    {{/*  section sequences  */}}
    <div class="s-grid-common">
    {{- range first 6 .Pages }}
    {{- if eq $disaplay "book" }}{{ .Render "renders/book" }}
    {{- else if eq $disaplay "entry" }}{{ .Render "renders/entry" }}
    {{- else if eq $disaplay "cover" }}{{ .Render "renders/cover" }}
    {{- end }}
    {{- end }}
    </div>
  </div>
  {{- end }}
  {{- end }}
</div>
{{- end }}
