.s-section-timeline {
    display: flex;
    flex-direction: column;
    border-left: $font-size-border dashed;

    margin: 0 $margin-post;
    margin-bottom: $margin-post-bottom;
    
    padding: 0 $padding-timeline;
}


.s-section-timeline::before {
    display: inline-block;
    position: relative;
    
    content: "";
    width: $font-size-timeline-before;
    height: $font-size-timeline-before;

    border: $font-size-border solid;
    border-radius: $font-size-timeline-before;

    background-color: white;

    margin-left: $margin-timeline-before;
}