@font-face {
    font-family: 'SmileySans-Oblique';
    font-weight: 400;
    font-style: normal;
    src: url("/fonts/SmileySans-Oblique.otf.woff2") format('woff2');
}

$oblique: 'SmileySans-Oblique';
