$col-s-1: 8.33%;
$col-s-2: 16.66%;
$col-s-3: 25%;
$col-s-4: 33.33%;
$col-s-5: 41.66%;
$col-s-6: 50%;
$col-s-7: 58.33%;
$col-s-8: 66.66%;
$col-s-9: 75%;
$col-s-10: 83.33%;
$col-s-11: 91.66%;
$col-s-12: 100%;
