$col-l-1: 4%;
$col-l-2: 8.66%;
$col-l-3: 25%;
$col-l-4: 33.33%;
$col-l-5: 41.66%;
$col-l-6: 50%;
$col-l-7: 58.33%;
$col-l-8: 66.66%;
$col-l-9: 75%;
$col-l-10: 83.33%;
$col-l-11: 91.66%;
$col-l-12: 100%;
